@import "tailwindcss";

/* In your global CSS */
.custom-blur {
  backdrop-filter: blur(0px);
}

.sidebar-shadow {
  box-shadow: 8px 0 20px -4px rgba(0,0,0,0.15);
}

.bg-modal-color {
  background-color: #2f2f2f;
}

.bg-website-color {
  background-color: #212121;
}

.bg-sidebar-color {
  background-color: #171717;
}

.bg-input-color {
  background-color: #303030;
}

.bg-button-active-color {
  background-color: #e5e7eb;
}

.boolean-selector-active {
  background-color: #248538;
}

.boolean-selector-inactive {
  background-color: #414040;
}

.border-color {
  border-color: #3a3a3a;
}

.input-border-color {
  border-color: #4e4e4e;
}

.border-color-light {
  border-color: #312f2f;
}

.modal-color-dark {
  background-color: #2c2c2c;
}