@import "tailwindcss";

:root {
  --tick-stroke-color: #ebebeb; /* Custom green for tick, override as needed */
}

.custom-blur {
  backdrop-filter: blur(0px);
}

.sidebar-shadow {
  box-shadow: 8px 0 10px -4px rgba(0,0,0,0.15);
}

.tick-button-color {
  background: #00944a;
}

.bg-modal-color {
  background: linear-gradient(135deg, #363636 0%, #363636 100%);
}

  .bg-modal-color-gradient {
    background: linear-gradient(135deg,  #363636 0%, #363636 60%, #333333 60%, #333333 100%);
    transition: background 0.4s, background-position 0.4s, background-size 0.4s, background-color 0.4s;
  }
  .bg-modal-color-gradient:hover {
    background: linear-gradient(135deg, #363636 0%, #363636 80%, #333333 80%, #333333 100%);
  }

.bg-website-color {
  background-color: #212121;
}

  .bg-website-color-gradient {
    background: linear-gradient(0deg, #242424 0%, #272727 100%);
  }
.custom-shape-divider-bottom-1750243590 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1750243590 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 225px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1750243590 .shape-fill {
    fill: #2c2c2c;
}
.bg-sidebar-color {
  background-color: #171717;
}

  .bg-sidebar-color-gradient {
    background: linear-gradient(135deg, #171717 0%, #181818 100%);
  }

.bg-input-color {
  background-color: #303030;
}

.bg-button-active-color {
  background-color: #e5e7eb;
}

.boolean-selector-active {
  background-color: rgb(36, 132, 55);
}

.boolean-selector-inactive {
  background-color: #414040;
}

.border-color {
  border-color: #3a3a3a;
}

.input-border-color {
  border-color: #4e4e4e;
}

.border-color-light {
  border-color: #312f2f;
}

.modal-color-dark {
  background-color: #2c2c2c;
}